#imgLogo {
    animation: rotate-center 10s linear infinite both;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 15px;
    border: 3px solid #000000;
    width: 84px;
    height: 84px;
    margin: 10px;
}

.logo:hover {
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0,0,0, 0.7);
}

.logo h1 {
    margin: 0;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}