.scroll {
  position: absolute;
  display: flex;
  cursor: pointer;
  width: 90px;
  height: 100px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(29, 30, 34, 0.8);
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 1s;
}

.active {
  background: rgba(125, 125, 125, 0.7);
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%, 100% 0%);
  transform: translate(3%, 320%) rotate(180deg) scale(0.7);
  i {
    color: darkred;
    font-size: 32px;
    animation:shake-vertical 3s linear infinite both
  }
}

i {
  color: white;
  font-size: 32px;
  animation:shake-vertical 3s linear infinite both
}

@keyframes shake-vertical{
  0%,
  100%{transform:translateY(0)}
  5%,25%,45%,65%,85%{transform:translateY(-4px)}
  15%,35%,55%,75%,95%{transform:translateY(4px)}
}