#scroll {
  position: absolute;
  display: flex;
  cursor: pointer;
  width: 90px;
  height: 100px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(29, 30, 34, 0.8);
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 1s;
}

i {
  color: white;
  font-size: 32px;
  animation:shake-vertical 3s linear infinite both
}

@keyframes shake-vertical{
  0%,
  100%{transform:translateY(0)}
  10%,30%,50%,70%{transform:translateY(-4px)}
  20%,40%,60%{transform:translateY(4px)}
  80%{transform:translateY(4px)}
  90%{transform:translateY(-4px)}
}