.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  z-index: 8;
  background-color: darkseagreen;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}