header {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    height: 120px;
    font-size: 24px;
}

header h2 {
    margin: 0;
    padding: 0;
}