.menu-list-item {
  width: 98%;
  height: 19.7%;
  border-top: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list-item:hover, .menu-list-item:active{
  background-color: rgba(0,0,0,0.2);
}

.menu-list-item:last-child {
  border-bottom: 1px solid black;
}
