#left-panel {
  position: relative;
  display: flex;
  width: 20vw;
  height: 65px;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  font-family: Marker Felt, fantasy;
  font-size: 25px;
  cursor: default;
}
