#left-panel {
  position: absolute;
  width: 150px;
  height: 35px;
  top: 100px;
  left: 100px;
  color: darkred;
  display: flex;
  padding-left: 5px;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
}
